
<style>
	.wallcalendar-day-full {background-color:#aaaa00;}
	.wallcalendar-day-flexi {background-color:#aa00aa;}
	.wallcalendar-day-public {background-color:#00ffff;}
	.wallcalendar-day-half {background-color:#00aaa0;}
</style>


.wallcalendar table {border: 1px solid #000;}
.wallcalendar-nav-prev a {background-image:url('../img/prev.png');display:inline; text-decoration:none; border:0px; }
.wallcalendar-nav-next a {background-image:url('../img/next.png');display:inline; text-decoration:none; border:0px; }

.tbl-wallcalendar th.col {text-align:right;}

.tbl-wallcalendar td.day {border: 1px solid #000;background-color:#eee;width:20px;height:32px;font-size:8pt;vertical-align:top;text-align:left;
							-webkit-border-radius:5px; -moz-border-radius:5px;border-radius:5px;}

.wallcalendar-popup {position:absolute;display:none;font-size:130%;padding:4px;background-color:#ffffb9; border:1px solid #000; z-index:2;
						-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.navheader {}


