
<style>
	.wallcalendar-day-full {background-color:#aaaa00;}
	.wallcalendar-day-flexi {background-color:#aa00aa;}
	.wallcalendar-day-public {background-color:#00ffff;}
	.wallcalendar-day-half {background-color:#00aaa0;}
</style>


.wallcalendar table {border: 1px solid #000;}
.wallcalendar-nav-prev {background-image:url('/images/prev.png');display:inline;}
.wallcalendar-nav-next {background-image:url('/images/next.png');display:inline;}

.tbl-wallcalendar th.col {text-align:right;}

.tbl-wallcalendar td.day {border: 1px solid #000;background-color:#eee;width:20px;height:32px;font-size:8pt;vertical-align:top;text-align:left;
							-webkit-border-radius:5px; -moz-border-radius:5px;}

.wallcalendar-popup {display:none;}
.navheader {}


